@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BFEEFF, #80B3C5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2e4954b9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#785836;
    text-align: center;
    text-shadow: 1px 1px 2px #62452973;
}

h2 {
    color: #C4A380;
}
p {
    text-align: justify;
}